@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0E1117;
  --foreground: 222.2 84% 4.9%;
  --dark-gray: #262630;
  --info-background: rgb(199, 235, 255);
  --info-foreground: #172d44;
  --warning: #3e3c15;
  --warning-foreground: #edf5b5;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;
  --radius: 0.3rem;
  --focus-border-color: #FF4B4B;
}

.blink {
  animation: blinker .75s linear infinite;
  color: red;
  font-family: sans-serif;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}